// Definir variables de colores
$background1: #4831D4; // 
$background2: white; // 
$primary: #c1fb55; //
$secondary: #f7960a; //

// Otras variables
$color-title: #fff;
$color-title-hover: #1e234d;
$color-title-active: #ccf381;

//fuentes
$fuente1:'Passion One', sans-serif;
$fuente2:'Lato', sans-serif;
